/* need to style quiz container with rounded edges and box shadow, box shadow color will change when answer is correct or incorrect */
/* buttons to look softer and more lively */
/*  */




*{
margin: 0;
padding: 0;
font-family:'Times New Roman', Times, serif;
}

body{
    box-sizing: border-box;
    background-color: slateblue;
    max-width: 100vw;
    max-height: 100vh;
}

.btn:hover, .answer-btn:hover{
    scale: 1.08;

}
.btn{
  background-color: deepskyblue;
}
#clock{
    font-size:2rem;
  }
  
  .below10{
    color: red;
    
  }

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
    
}

.quiz-container{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background: hsla(212, 35%, 58%, 1);

background: radial-gradient(circle, hsla(212, 35%, 58%, 1) 0%, rgb(234, 239, 247) 100%);

background: -moz-radial-gradient(circle, hsla(212, 35%, 58%, 1) 0%, rgb(251, 253, 255) 100%);

background: -webkit-radial-gradient(circle, hsla(212, 35%, 58%, 1) 0%, rgb(255, 255, 255) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#6D90B9", endColorstr="#BBC7DC", GradientType=1 );
    max-width: 60vw;
    height: 80vh; 
    margin: 5vh auto;
    border-radius: 2rem;
}

.hud-box{
    justify-content: space-evenly;
    /* gap: 3rem; */
    align-items: center;
}

.hud-items{
    text-align: center;
   font-size: 2rem;
   /* width: 30%; */
}

.question-box{
  
    padding: 2rem;

    font-weight: bold;
    font-size: 1.5rem;


}

.answer-box{
    align-items: center;
    max-height: fit-content;

}

.answer-btns{
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    min-width: 35%;
    min-height: 10vh;
} 


.control-box .btn{
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    height: 3rem;
    min-width: 7rem;
    background-color:deepskyblue;
}

.lb-box{
  padding: 8px;
  gap: 1rem;
  margin: 0 auto;
  list-style-type: none;
  align-items: center;
}
.high-score {
  font-size: 1.5rem;
  
}
.hide{
    display: none;
}

.correct{
  background-color: green;
}
.incorrect{
  background-color: red;
}