/* need to style quiz container with rounded edges and box shadow, box shadow color will change when answer is correct or incorrect */
/* buttons to look softer and more lively */
/*  */

:root{
  --button-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


*{
margin: 0;
padding: 0;
font-family:'Times New Roman', Times, serif;
}

body{
    box-sizing: border-box;
    background-color: slateblue;
    max-width: 100vw;
    max-height: 100vh;
}

.btn:hover{
    scale: 1.05;
    cursor: pointer;

}
.btn{
  flex-shrink: 1;
  box-shadow: var(--button-shadow);
  width: 40%;
  min-height:10vh;
  background-color: deepskyblue;
  border: 3px solid slateblue;
  border-radius: .5rem;
  font-weight: bolder;
  letter-spacing: 2px;
  
}
#clock{
    font-size:2rem;
  }
  
  .below10{
    color: red;
    
  }

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
    
}

.quiz-container{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background: radial-gradient(circle, hsla(212, 35%, 58%, 1) 0%, rgb(244, 244, 244) 100%);
    max-width: 60vw;
    height: 80vh; 
    margin: 5vh auto;
    border: 5px solid deepskyblue;
    border-radius: 2rem;
}

.hud-box{
    margin-top: 15px;
    justify-content: space-evenly;
    align-items: center;
}

.hud-items{
    text-align: center;
    font-size: 2rem;
}

.question-box{
    padding: 2rem;
    font-weight: bold;
    font-size: 1.5rem;


}

.answer-box{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-height: fit-content;
    gap: 10px;
    margin-bottom: 1rem;

}

.answer-btns{
    flex-shrink: 1;
    box-shadow: var(--button-shadow);
    width: 40%;
    min-height:10vh;
    background-color: deepskyblue;
    border-radius: .5rem;
    font-weight: bolder;
    letter-spacing: 2px;
} 


.control-box .btn{
    font-size: 1.5rem;
    box-shadow:var(--button-shadow);
    height: 3rem;
    min-width: 7rem;
    background-color:deepskyblue;
}

.lb-box{
    padding: 8px;
    gap: 1rem;
    margin: 0 auto;
    list-style-type: none;
    align-items: center;
}
.high-score {
    font-size: 1.5rem;
  
}
.hide{
    display: none;
}

.correct{
  box-shadow: 0px 0px 20px 15px rgba(0,255,19,1);
}
.incorrect{
    background-color: red;
}




/* media queries */

@media screen and (min-width: 320px) and (max-width: 480px) {
  
  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    background-color: slateblue;
    max-width: 100vw;
    max-height: 100vh;
}
.btn{
  letter-spacing: normal;
  color: black;
}
.btn:hover{
  scale: 1;
}
.btn:active{
  
}
#clock{
    font-size:0.5 rem;
  }
  
  .below10{
    color: red;
    
  }

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
    
}

.quiz-container{
    max-width: 100vw;
    height: 100vh; 
    border-radius: 0rem;
    margin: 0;
    
}

.hud-box{
    margin-top: 20px;
}
.question-box{
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}
.answer-box{
    flex-direction: column;
    max-height: fit-content;
    gap: 10px;
    margin-bottom: 1rem;
}
.answer-btns, .btn{
    box-shadow: var(--button-shadow);
    width: 90%;
    min-height:10vh;
    background-color: deepskyblue;
    border-radius: .5rem;
    font-weight: bolder;
} 
.control-box{
  flex-direction: column;
  gap: 20px;
}
.btn{
    font-size: 1.5rem;
    box-shadow:var(--button-shadow);
    height: 3rem;
    min-width: 7rem;
    background-color:deepskyblue;
    scale: 1;
}

.lb-box{
  padding: 8px;
  gap: 1rem;
  margin: 0 auto;
  list-style-type: none;
  align-items: center;
}
.high-score {
    font-size: 1rem;
}
.hide{
    display: none;
}
.correct{
  box-shadow: 0px 0px 10px 15px rgba(0,255,19,1);
}
.incorrect{
  background-color: red;
}
}