
:root{
}

*{
margin: 0;
padding: 0;
font-family:'Times New Roman', Times, serif;
}

body{
    box-sizing: border-box;
    background-color: slateblue;
    max-width: 100vw;
    max-height: 100vh;
}

.btn:hover, .answer-btn:hover{
    scale: 1.08;
}
#clock{
    font-size:2rem;
  }
  
  .below10{
    color: red;
  }

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* outline: 2px solid red; */
    
    
}

.quiz-container{
    width: 80vw;
    height: 80vh;
    margin: 5vh auto;
    border: 5px solid;
}

.hud-box{
    justify-content: center;
    gap: 3rem;
    align-items: center;
}

.hud-items{
    text-align: center;
   font-size: 2rem;
   width: 30%;
}

.question-box{
    padding: 2rem;
    font-weight: bold;
    /* width: 90%; */
    font-size: 1.5rem;
    /* margin: 0 auto; */
    /* text-align: center; */
    /* background-color: grey; */

}

.answer-box{
    align-items: center;
    max-height: fit-content;

}

.answer-btn{
    min-width: 35%;
    min-height: 10vh;
    /* text-align: center; */
    /* font-size: 1rem; */
    /* background-color: white; */

} 


.control-box .btn{
    height: 4rem;
    min-width: 8rem;
}
.hide{
    display: none;
}
